@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width:90rem;
    padding:1.5rem;
    margin:0 auto;
}
.btn {
    background-color: transparent;
    padding: 0.2rem 1rem;
    border-radius: 3rem;
    border: 1px solid #2b2b2b;
}
    .btn:hover {
    background-color: hsl(240, 1.51%, 90%);
}
    .btn.bg--puti {
    background: #ffffff;
}
    .btn.bg--puti:hover {
    background-color: hsl(0,0%,50%);
}
    .btn.bg--itim {
    background: #000000;
    color:#ffffff;
}
    .btn.bg--itim:hover {
    background-color: hsl(240, 1.51%, 20%);
}
.btn.bg--green{
    background: #1E3932;
    color:#ffffff;
    border: 1px solid #ffffff;
}
.btn.bg--green:hover {
    background-color: #006341;
}
.btn.bg--maitimnagreen{
    background: #013220;
    color:#ffffff;
    border: 1px solid #ffffff;
}
.btn.bg--maitimnagreen:hover {
    background-color: #006341;
}

@layer components{
    .header{
        background:#ffffff;
        position:relative;
        position:fixed;
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 9999;
    }
    .header .container{
        @apply lg:p-[.5rem]
    }
    .header img{
        @apply w-[2.5rem]
    }
    .branding{
        @apply lg:flex lg:items-center
    }
    .header__wrapper{
        @apply flex items-center justify-between
    }
    .header__actions{
        @apply hidden lg:flex lg:gap-[1.5rem];
    }
    .header__nav{
        @apply bg-puti absolute top-[5.6rem] right-[-100rem] h-[100vh] w-[75%] 
        px-[2rem] transition-all z-[999] lg:static lg:w-fit lg:h-fit
    }
    .header__nav.open{
        @apply right-[0rem] transition-all
    }
    .header__nav ul{
        @apply py-[2rem] flex flex-col gap-[1.5rem] lg:flex-row 
    }
    .header__nav ul li a{
        @apply text-[1.5rem]  lg:text-[1.1rem] 
    }
    .header__nav ul.nav__top{
        @apply border-b-[1px] border-semento lg:border-none lg:font-bold
    }
    .header__nav ul.nav__bottom{
        @apply lg:hidden
    }
    .header__nav ul.nav__top li:hover a{
        @apply text-lasalle
    }
    .toggle__menu{
        @apply flex flex-col gap-[.2rem] lg:hidden
    }
    .toggle__menu span{
        @apply w-[2rem] h-[.2rem] bg-semento block rounded-full
    }
    .buhok.open{
        @apply h-[100vh] w-[100%] bg-black absolute z-[999] top-[5.6rem] left-[0] opacity-[.5] transition-all
    }

    
    .favorites{
        @apply bg-puti
    }
    .favorites__wrapper{
        @apply bg-get 
    }
    .favorites__wrapper h1{
        @apply text-center text-[1.5rem] font-bold pb-[1.5rem] pt-[3rem]
    }
    .favorites__nav{
        @apply  flex flex-wrap  mx-auto justify-center font-semibold
    }
    .favorites__nav li{
        @apply p-[1.81rem] relative
    }
    .favorites__nav li:after{
        @apply content-[''] w-0 h-[3px] bg-red-600 block absolute bottom-0 left-0 origin-bottom-left ease-in duration-[.5s]
    }
    .favorites__nav li.active:after{
        @apply w-full
    }
    .favorites__desc__wrapper{
        @apply bg-BG p-[1rem] h-[500px]
    }
    /* .favorites__item__content{
        @apply hidden
    } */
    .favorites__item__content{
        @apply  p-[1.5rem] absolute top-[4rem] opacity-0 ease-in duration-300 lg:flex lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-[50rem] lg:top-[8rem]
    } 
    .favorites__item__content.active{
        @apply opacity-[1] ease-in duration-[.5s]
    } 
    .favorites__item__content img{
        @apply  h-auto rounded-full px-[1rem] lg:w-[30-rem] lg:w-[30rem] 
    }
    /* .favorites__item__content.active{
        @apply flex gap-[2rem] flex-col text-center
    } */
    .favorites__text h2{
        @apply text-[1.2rem] font-semibold  mb-[1rem] text-center
    }
    .favorites__text table tr{
        @apply h-[5rem] flex flex-col text-center
    }
    .favorites__text table tr td:first-child{
        @apply font-normal 
    }
    /* BANNER */
    .banner{
        background-image:url("./img/rewards/star.png");
        background-size:cover;
        background-color: #D0EAE4;
        height:550px;
        background-position-y:15rem;
        background-repeat:no-repeat;
        text-align:center;
        @media screen and (min-width:1024px){
            background-position-y:6rem;
            background-size:contain;
            background-position-x:50rem;
            height:800px;
            text-align:unset;
            display:flex;
            align-items:center;
        }
    } 
    .banner__wrapper h1{
        @apply text-[1.8rem] font-semibold mx-[7.4rem] lg:mx-[0rem] lg:max-w-[17.3rem] lg:text-[2.5rem]
    }
    .banner__wrapper p{
        @apply  font-normal pt-[1rem] pb-[1rem]
    }
    .banner__wrapper span{
        @apply  hidden sm:block pt-[1rem]
    } 
    .banner__wrapper a{
        @apply  text-[1rem]
    }
    .banner__wrapper ul{
        @apply  text-[1rem] pt-[1rem] lg:hidden
    }



    .getting__text h1{
        @apply font-semibold text-center text-[1.5rem] lg:text-[1.8rem] lg:pt-[3rem]
    }
    .getting__text p{
        @apply text-center  pt-[1rem] pb-[2.5rem]
    }
    .getting__text2{
        @apply lg:flex flex-col lg:mx-auto lg:align-middle lg:flex-row
    }
    .getting__text2 h3{
        @apply font-semibold pl-[1.5rem]  pb-[1.5rem] lg:text-center
    }
    .getting__text2 p{
        @apply  pl-[1.5rem] pb-[1.5rem] lg:text-center
    }




    .endless__text h1{
        @apply font-semibold text-center text-[1.5rem] lg:text-[1.8rem] lg:pt-[3rem]
    }
    .endless__text p{
        @apply text-center  pt-[1rem] pb-[2.5rem] text-[.9rem]
    }
    .endless__text2{
        @apply lg:flex flex-col lg:mx-auto lg:align-middle lg:flex-row
    }
    .endless__text2 a{
        @apply pl-[2rem] 
    }
    .endless__text2 h3{
        @apply font-semibold pl-[2rem]  pb-[1.5rem] lg:text-center
    }
    .endless__text2 p{
        @apply  text-[1rem] pl-[2rem] pb-[1.5rem] lg:text-center
    }
}

